In [1]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

In [2]:
path_to_db = '/datasets/telecomm_csi.db'
engine = create_engine(f'sqlite:///{path_to_db}', echo = False)

In [6]:
query = '''SELECT u.user_id, 
                  u.lt_day,
                  (CASE
                    WHEN u.lt_day < 366 THEN 'новый клиент'
                    ELSE 'старый клиент'
                   END) AS is_new,
                  u.age,
                  (CASE
                   WHEN u.gender_segment = 1.0 THEN 'женщина'
                   WHEN u.gender_segment == 0.0 THEN 'мужчина'
                  END) AS gender_segment, 
                  u.os_name,
                  u.cpe_type_name,
                  l.country, 
                  l.city,
                  a.title AS age_segment,
                  t.title AS traffic_segment,
                  lt.title AS lifetime_segment,
                  u.nps_score,
                  (CASE
                    WHEN u.nps_score < 7 THEN 'критики'
                    WHEN u.nps_score < 9 THEN 'нейтралы'
                    ELSE 'cторонники'
                   END) AS nps_group
            FROM user AS u 
            JOIN location AS l ON l.location_id=u.location_id
            JOIN age_segment AS a ON u.age_gr_id=a.age_gr_id
            JOIN traffic_segment AS t ON u.tr_gr_id=t.tr_gr_id
            JOIN lifetime_segment AS lt ON u.lt_gr_id=lt.lt_gr_id'''

In [7]:
df = pd.read_sql(query, engine)
df.head(3)

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,старый клиент,45.0,женщина,ANDROID,SMARTPHONE,Россия,Уфа,05 45-54,04 1-5,08 36+,10,cторонники
1,A001WF,2344,старый клиент,53.0,мужчина,ANDROID,SMARTPHONE,Россия,Киров,05 45-54,04 1-5,08 36+,10,cторонники
2,A003Q7,467,старый клиент,57.0,мужчина,ANDROID,SMARTPHONE,Россия,Москва,06 55-64,08 20-25,06 13-24,10,cторонники

In [8]:
df.to_csv('telecomm_csi_tableau.csv', index=False)