In [1]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

In [2]:
path_to_db = '/praktikum/telecomm_csi.db'
engine = create_engine(f'sqlite:///{path_to_db}', echo = False)

In [3]:
query = '''SELECT u.user_id, 
                  u.lt_day,
                  (CASE
                    WHEN u.lt_day < 366 THEN 'новый клиент'
                    ELSE 'старый клиент'
                   END) AS is_new,
                  u.age,
                  (CASE
                   WHEN u.gender_segment = 1.0 THEN 'женщина'
                   WHEN u.gender_segment == 0.0 THEN 'мужчина'
                  END) AS gender_segment, 
                  u.os_name,
                  u.cpe_type_name,
                  l.country, 
                  l.city,
                  a.title AS age_segment,
                  t.title AS traffic_segment,
                  lt.title AS lifetime_segment,
                  u.nps_score,
                  (CASE
                    WHEN u.nps_score < 7 THEN 'критики'
                    WHEN u.nps_score < 9 THEN 'нейтралы'
                    ELSE 'cторонники'
                   END) AS nps_group
            FROM user AS u 
            JOIN location AS l ON l.location_id=u.location_id
            JOIN age_segment AS a ON u.age_gr_id=a.age_gr_id
            JOIN traffic_segment AS t ON u.tr_gr_id=t.tr_gr_id
            JOIN lifetime_segment AS lt ON u.lt_gr_id=lt.lt_gr_id'''

In [4]:
df = pd.read_sql(query, engine)
df.head(3)

OperationalError: (sqlite3.OperationalError) no such table: user
[SQL: SELECT u.user_id,
                  u.lt_day,
                  (CASE
                    WHEN u.lt_day < 366 THEN 'новый клиент'
                    ELSE 'старый клиент'
                   END) AS is_new,
                  u.age,
                  (CASE
                   WHEN u.gender_segment = 1.0 THEN 'женщина'
                   WHEN u.gender_segment == 0.0 THEN 'мужчина'
                  END) AS gender_segment,
                  u.os_name,
                  u.cpe_type_name,
                  l.country,
                  l.city,
                  a.title AS age_segment,
                  t.title AS traffic_segment,
                  lt.title AS lifetime_segment,
                  u.nps_score,
                  (CASE
                    WHEN u.nps_score < 7 THEN 'критики'
                    WHEN u.nps_score < 9 THEN 'нейтралы'
                    ELSE 'cторонники'
                   END) AS nps_group
            FROM user AS u
            JOIN location AS l ON l.location_id=u.location_id
            JOIN age_segment AS a ON u.age_gr_id=a.age_gr_id
            JOIN traffic_segment AS t ON u.tr_gr_id=t.tr_gr_id
            JOIN lifetime_segment AS lt ON u.lt_gr_id=lt.lt_gr_id]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [ ]:
df.to_csv('telecomm_csi_tableau.csv', index=False)